@import url('./reset.css');
@import url('./typography.css');
@import url('./navigation.css');
body {
    padding: 2rem;
    margin: 0 auto;
    background: rgb(238, 238, 238);
    font-family: sans-serif;
}

header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.site-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}