<form (ngSubmit)='login()' #loginForm='ngForm' class="modal-content">
    <div class="container">
        <h1>Login</h1>
        <b>Username</b>
        <input [(ngModel)]='model.username' #username='ngModel' type="text" placeholder="Enter Username" name="username" required
            minlength="3" maxlength="20">
        <div [hidden]="username.valid || username.pristine" class="alert-danger">
            Username must have at least 3 characters
        </div>

        <b>Password</b>
        <input [(ngModel)]='model.password' #password='ngModel' type="password" placeholder="Enter Password" name="password" required
            minlength="4" maxlength="20">
        <div [hidden]="password.valid || password.pristine" class="alert-danger">
            Password must have at least 4 characters
        </div>

        <input [(ngModel)]="model.remember" #remember='ngModel' type="checkbox" name="remember"> Remember me

        <p>Don't have an account?
            <a routerLink="/register" style="color:dodgerblue">Sign Up</a>
        </p>

        <div class="clearfix">
            <a routerLink="/">
                <button type="button" class="cancelbtn">Cancel</button>
            </a>
            <button [disabled]='loginForm.form.invalid' type="submit" class="signupbtn">Login</button>
        </div>
    </div>
</form>