<h1>Cars</h1>
<form id="search-form">
    <input type="text" name="query" placeholder="Search...">
    <input type="submit" value="Search">
</form>
<div class="cars-container">
        {{{content}}}
</div>