<h1>Create a car</h1>
<form method="post" action="/cars/create" enctype="multipart/form-data">
    <input name="make" placeholder="enter make" />
    <input name="model" placeholder="enter model" />
    <input type="file" name="imageUrl" placeholder="enter image url" accept=".jpg, .png, gif, jpeg"/>
    <input name="color", placeholder="enter color" />
    <input type="number" name="dailyPrice", placeholder="price per day" />
    <input id="submit" type="submit" value="CREATE" />
</form>