.imageWall {
    text-align: center;
    margin-top: 15px;
}

div.gallery {
    border: 0px solid #278fe8;
}

div.gallery:hover {
    border: 0px solid #D40014;
}

div.gallery img {
    width: 100%;
    height: auto;
    transition: transform 1s;
}

div.gallery img:hover {
    transform: scale(1.1); 
}

div.desc {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 2px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1080px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}