body {
    margin: 0;
    padding: 2rem;
}

p {
    margin: 0;
    display: inline;
}

span {
    color: green;
}

@media screen and (max-width: 600px) {
    .mq-width span {
        display: none;
    }
}

@media screen and (max-height: 600px) {
    .mq-height span {
        display: none;
    }
}

@media (max-aspect-ratio: 8/5) {
    .mq-aspect-ratio span {
      display: none;
    }
  }