 <h1>Welcome to SoftUni Wiki!</h1>
                <div class="spacer">
                    <article>
                        <p>
                            {{content}}
                        </p>
                    </article>
                </div>