<h1>Add New Genre</h1>
    <div class="container">
        <form action="/addGenre" method="post">
            <label for="movieTitle">Title</label>
            <input type="text" id="genreTitle" name="genreTitle" placeholder="The title of the genre">
            <input type="submit" value="Submit">
        </form>
    </div>