@import url('https://fonts.googleapis.com/css?family=Karla');
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    background: #D3D3D3;
}

main {
    text-align: center;
}

h1 {
    margin: 2rem;
    font-size: 3rem;
}

h3 {
    padding: 1rem;
}

section {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

article {
    background: #8CCEEA;
    border: 3px solid blue;
    border-radius: 15px;
    padding: 1.4rem;
    margin: 1.5rem;
    margin-top: 0;
    flex: 0 0 20%;
    padding-bottom: 4rem;
}

img {
    width: 75%;
}

.price {
    padding: 1rem;
}

.price span {
    font-weight: bold;
}

button {
    padding: .8rem 1rem;
    border-radius: 10px;
    border: 1px solid blue;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background: #D3D3D3;
}